llama_index==0.12.34
llama-index-llms-gemini==0.4.14
nest_asyncio==1.6.0
numpy==2.2.5
openai==1.77.0
pandas==2.2.3
Pillow==10.4.0
pydantic==2.11.4
pymongo==4.12.1
pypdf==5.4.0
python-dotenv==1.1.0
python_bcrypt==0.3.2
Requests==2.32.3
streamlit==1.45.0
traceloop-sdk==0.40.2
weaviate==0.1.2
